
.contact {
  background-color: grey;
  color: white;
  font-family: sans-serif;
  padding: 2em;
  margin: 0;
}

.home-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.label-name__top {
  margin-left: 1em;
}

.label-name__bottom {
  margin-left: 1em;
}

.contact-form__input {
  margin-bottom: 1em;
}

.form-input {

}
