.home-header {
  height: 50vh;
  padding: $gutter;
  background-image: url('/home-header.jpg');
  background-size: cover;
}

.main-content-container {
  width: 100%;
  background: $brand-light-blue;
}

.map-row {
  width: 100%;
  display: flex;
}

.map-area {
  padding: $gutter;
  flex-grow: 1;
}

.input-area {
  margin: $gutter;
  background-image: url('https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQNlC3xsuR7gNrZM4Qv9TIKjy0NKOAkANIm0rYj-pK7omq62Edu');
  flex-basis: 15rem;
  border-radius: 0.3rem;
  box-shadow: 0 0 1em 0em;
}

.input-container {
  // margin-left: 0.5em;
  padding: 0;
}

.location-icon {
  padding: 1em;
}

.label-name {
  margin-left: 0.7em;
}

.input-info {
  margin: 1em;
  width: 70%;
  overflow: visible;
}

.map-info {
  height: 20vh;
}

 .home-bottom {
   height: 20vh;
   background-color: #C8C8C8;
   font-family: sans-serif;
   padding-top: 2em;
 }

 .home-bottom__links {
   text-decoration: none;
   padding: 2em;
   color: black;
   font-size: 1em;
   height: 50vh;
 }

 .copyright {
   display: flex;
   justify-content: flex-end;
   margin-top: 2em;
 }

 .hi-top {
   background-color: #363636;
   color: white;
   padding: 1em;
   font-family: sans-serif;
   box-shadow: 0 0 1em 0em;
 }
