.home-header {
  height: 50vh;
  padding: $gutter;
  background: $brand-dark-blue;
  background-image: url('/home-header.jpg');
  background-size: cover;
}

.main-content-container {
  width: 100%;
  background: $brand-light-blue;
}

.map-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.map-area {
  flex-basis: 40rem;
  flex-grow: 1;
  flex-shrink: 1;
  padding: $gutter;
}

.hi-top {
  margin-top: $gutter;
  padding: $gutter / 2 $gutter;
  border-radius: 0.3rem;
  background-color: $brand-dark-blue;
  color: $brand-light-blue;
}

.location-icon {
  text-align: center;
}

.form-area {
  flex-basis: 15rem;
  flex-grow: 1;
  flex-shrink: 0;
  margin: $gutter;
  padding: $gutter;
  border-radius: 0.3rem;
  background-image: url('https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQNlC3xsuR7gNrZM4Qv9TIKjy0NKOAkANIm0rYj-pK7omq62Edu');
  box-shadow: 0 0 1em 0;
}

.form-input-container {
  max-width: 30rem;
  margin: auto;
}

.input-container {
  margin-bottom: $gutter;
  padding: 0;
}


.label-name {
  color: $brand-dark-blue;
}

.input-info {
  width: 100%;
}

.map-info {
  height: 20vh;
}

.footer-wrapper {
  background-color: #C8C8C8;
}

.footer-row {
  display: flex;
  justify-content: space-between;
}

.footer-link {
  display: flex;
}

.home-bottom__links {
  display: inline-block;
  margin: 0 $gutter / 2;
  color: $brand-dark-blue;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.copyright {
  color: $brand-dark-blue;
  font-size: 0.8rem;
  align-self: center;
}
