body {
  margin: 0;
}

.home-header {
  height: 50vh;
  padding: 3em 0;
  background-image: url('/home-header.jpg');
  background-size: cover;

}

.map-container {
  display: flex;
  background-color: #86C6FF;
  padding: 1em 2em 4em 1em;
}

.map-area {
  height: 80vh;
  background-color: black;
  width: 100%;
}

.input-area {
  background-image: url('https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQNlC3xsuR7gNrZM4Qv9TIKjy0NKOAkANIm0rYj-pK7omq62Edu');
  width: 35%;
  margin-left: 1em;
  border-radius: 0.3em;
  box-shadow: 0 0 1em 0em;
  height: 50%;
}

.input-container {
  // margin-left: 0.5em;
  padding: 0;
}

.location-icon {
  padding: 1em;
}

.label-name {
  margin-left: 0.7em;
}

.input-info {
  margin: 1em;
  width: 70%;
  overflow: visible;
}

.map-info {
  height: 20vh;
}

 .home-bottom {
   height: 20vh;
   background-color: #C8C8C8;
   font-family: sans-serif;
   padding-top: 2em;
 }

 .home-bottom__links {
   text-decoration: none;
   padding: 2em;
   color: black;
   font-size: 1em;
   height: 50vh;
 }

 .copyright {
   display: flex;
   justify-content: flex-end;
   margin-top: 2em;
 }

 .hi-top {
   background-color: #363636;
   color: white;
   padding: 1em;
   font-family: sans-serif;
   box-shadow: 0 0 1em 0em;
 }
