.g-map-canvas {
  max-width: 100%;
  height: 26rem;
}

.current-location {
  margin: $gutter 0;
  padding: $gutter;
  border: 0;
  border-radius: 4px;
  background: $brand-dark-blue;
  color: $brand-green;
  font-weight: bolder;
  cursor: pointer;
}
