.about-page {
  background-color: black;
  background-image: url('/FrontEnd.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.about-us {
  height: 50vh;
}

.map-info {
  width: 70%;
  margin: auto;
  color: white;
  font-family: sans-serif;
 }

.home-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-family: sans-serif;

}
