
<p class="contact">CONTACT US</p>


<form class="form-input" action="">
  <div class="contact-form__input">
    <label class="label-name__top">First Name</label>
    <input type="text">

    <label class="label-name">Last Name</label>
    <input type="text">
  </div>
  <div class="contact-form__input">
    <label class="label-name__bottom">Email</label>
    <input class="" type="text">

    <label class="label-name__bottom">Phone</label>
    <input class="" type="text">
  </div>
   <div class="contact-form__input">
     <label class="label-name__top">Subject</label>
     <input type="text">

     <label class="label-name">Your Message</label>
     <textarea name="" id="" cols="30" rows="10"></textarea>
   </div>
</form>


{{#link-to 'home' class="home-link"}}HOME{{/link-to}}
{{outlet}}
