<div class="icon-container">
  <i class="car-icon fa fa-car" aria-hidden="true"></i><i class="car-icon fa fa-road" aria-hidden="true"></i>
  <h2>Welcome to Parking Tracker</h2>
</div>

<div class="map-area"></div>

<div class="input-area">
    {{!-- <div class="location-icon">cartoon</div>
    <input type="text" name="" placeholder="Street">
    <input type="text" name="" placeholder="City">
    <input type="text" name="" placeholder="State">
    <input type="text" name="" placeholder="Zip"> --}}
</div>
{{!--  --}}
<p class="map-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  Dicta nobis accusamus cum quidem repellat quae.
  Consectetur sint iure quae quibusdam culpa, debitis aliquid hic,
  in perferendis vitae pariatur harum rerum.</p>
  {{!--  --}}

<div>copyright@ TEAM Parking A Ember</div>

{{outlet}}
