<div class="about-page">
  <div class="about-image"></div>
  <div class="about-us"></div>

  <p class="map-info">Hi, Welcome to the Parking Tracker by Team A Ember. We'd Like to thank you for choosing the Parking Tracker.
    With this version of Parking Trackor, We've upgraded the app with new features like live service and pinpoint accuracy.
    Here at The Iron Yard, we value your input and are committed to bringing you the best user experience. .</p>

</div>


{{#link-to 'home' class="home-link"}}HOME{{/link-to}}
{{outlet}}
