<div class="container">
  <div class="title-container">
    <h2 class="title">Add a New Parking Spot</h2>

    <form>
      <input type="text" placeholder="Street Address">
      <input type="text" placeholder="City">
      <input type="text" placeholder="State" maxlength="2">
      <button>Add</button>
    </form>
  </div>
</div>
