{{!-- <div class="container">
  <div class="title-container">
    <h2 class="title">Add a New Parking Spot</h2>

    <form {{action addParking model on="submit"}}>
      {{input class="add-new-input" type="text" placeholder="Street Address" value=model.street}}
      {{input class="add-new-input" type="text" placeholder="City" value=model.city}}
      {{input class="add-new-input" type="text" placeholder="State" maxlength="2" value=model.state}}
      <button class="add-new-button">Add</button>
    </form>
  </div>
</div> --}}
