<div class="main-top">
  <div class="icon-container">
    {{#link-to 'home'}}
    <i class=" car-icon fa fa-car" aria-hidden="true"></i><i class="car-icon fa fa-road" aria-hidden="true"></i>
    {{/link-to}}
    <h2 class="welcome-header">Welcome to Parking Tracker</h2>
  </div>
</div>

<div class="main-bottom">
  <div class="main-bottom__container">
    <div class="input-container__top">
      <label class="input-label">User Name</label>
      <input class="main-bottom__input" type="text">
    </div>
    <div class="input-container">
      <label class="input-label">Password</label>
      <input class="main-bottom__input" type="text">
    </div>
      <button class="send-button">SEND</button>
  </div>
</div>
