<div class="container">
  <div class="nav-row">
    {{#link-to "main"}}
    <h1 class="title">Parking Tracker</h1>
    {{/link-to}}

    {{#link-to "add"}}
      <span class="fa fa-plus icon-plus"></span>
    {{/link-to}}
  </div>
</div>
{{outlet}}
