<div class="container">
  <h1>Parking Tracker</h1>
  <form {{action search address on="submit"}}>
    {{input class="form-input" type="text" value=address placeholder="Search location here"}}
  </form>
  {{#g-map lat=36.1627 lng=-86.7816 WmarkersFitMode='live' zoom=12 as |context|}}
    {{#each addresses as |add|}}
    {{g-map-address-marker context address=add}}
    {{/each}}
  {{/g-map}}
</div>
{{outlet}}
