<div class="container">
  <div class="nav-row">
    {{#link-to "main"}}
      <h1 class="title">Parking Tracker</h1>
    {{/link-to}}

    {{!-- <span {{action toggle on="click" class="fa fa-plus icon-plus"}} /> --}}
  </div>
</div>

{{outlet}}
